body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Raleway", sans-serif;
}

body {
  font-size: 18px;
}

/*#main {
  background: #04325B;
}*/

.container {
  max-width: 960px;
  margin: 0 auto;
}

.clear-fix {
  overflow: auto;
}

.img-responsive {
  max-width: 100%;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

#education {
  margin-bottom: 5px;
}

h1 {
  font-size: 40px;
  color: #0E5492;
  line-height: 48px;
  text-align: center;
}

#main {
  background: #0E5492;
}

#projects {
  background: #fff;
  margin-bottom: 5px;
}

.role {
  font-weight: 600;
  color: #333;
}

.center-text {
  text-align: center;
}

#workExperience {
  margin-bottom: 5px;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #0E5492;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #497FB0;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;

}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;

}

p {
  font-size: 16px;
  color: #333;
  line-height: 21px;
}

a {
  color: #049860;
  text-decoration: underline;
  margin-top: 10px;
  display: block;
}

a:hover {
  font-weight: bold;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #000;
  line-height: 28px;
}

#skills-h3 {
  color: #333;
  display: none;
}

.orange {
  background-color: #43B68B;
}

#lets-connect {
  background: #43B68B;
}

#lets-connect h2 {
  color: #fff;
}

#lets-connect span.orange-text {
  color: #fff;
}

.orange-text {
  color: #333;
  font-weight: 400;00;
}

.white-text {
  font-weight: bold;
  color: #497FB0;
}

.gray {
  background-color: #fff;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #4a4a4a;
}

/* TODO: Replace with image later */
#header {
  background-color: #fff;
  margin-bottom: 5px;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;

}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 2%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  margin-bottom: 6px;
  padding-bottom: 5%;
  background: #fff;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}